.contactData {
    margin: 20px auto;
    width:80%;
    text-align: center;
    box-shadow: 02px 3px #ccc;
    box-sizing: border-box;
    padding: 10px; 
    border:1px solid #eee; 
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .contactData {
        width: 500px;
    }
}