.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.InputElement {
    outline: none;
    border: 1px solid #eee;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    display: block;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    background-color: lightcoral;
}